{% extends 'custom_account/base.html' %}
{% block content %}
  <section>
            <div class="right-section">
                <div class="profile-picture">
                    <img class="current-user-picture" src= "/Powerhouse_gym/assets/gym1.jpg" alt="" class="profile-pic">
                    <li class="edit-link"> <a href=""><span class="edit"> edit profile </span></a></li>
                </div>

            </div>
            <div class="profile-container">
                <p class="bio">
                    [Your Name] is a dedicated professional with a passion for excellence and innovation. With expertise in [your field/industry], they bring a unique blend of creativity and problem-solving to every project. Known for their exceptional communication skills, proactive attitude, and commitment to quality, [Your Name] thrives in collaborative environments and consistently delivers results that exceed expectations. Outside of work, they enjoy [your hobbies or interests], which fuel their creativity and inspire their professional endeavors. Driven by a love for learning and a desire to make a positive impact, [Your Name] continuously seeks opportunities to grow and contribute meaningfully.</p>
                <h3>Contact Info</h3>
                <p>Phone number : 0796312453</p>
                <P class="email">Email : wrldron@gmail.com</P>
                <li class="edit-link"><span class="edit">change password </span></li>
            </div>
        </section>
{% endblock %}