{% extends 'dashboard/main.html' %}



{% block content %}
<div class="container">
    <h2 class="text-center">Our Agents</h2>

    {% if agents %}
        <div class="row">
            {% for agent in agents %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if agent.images.all %}
                            <img src="{{ agent.images.first.image.url }}" class="card-img-top" alt="{{ agent.names }}">
                        {% else %}
                            <img src="" class="card-img-top" alt="Default Agent">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ agent.names }}</h5>
                            <p class="card-text">{{ agent.bio|truncatewords:20 }}</p>
                            <p><strong>Email:</strong> {{ agent.email }}</p>
                            <p><strong>Phone:</strong> {{ agent.phone_number }}</p>
                            <a href="{% url 'agents:agent-detail' agent.slug %}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No agents found.</p>
    {% endif %}
</div>
{% endblock %}
