    <!-- Main Header -->
<div class="main-header">
        <nav class="main-links">
            <li class="link"><a href="{% url 'freelance:news-list' %}">News</a></li>
            <li class="link"><a href="{% url 'freelance:skills-list' %}">Skills</a></li>
            <li class="link"><a href="{% url 'freelance:post-list' %}">Posts</a></li>
        <li class="link"><a href="{% url 'freelance:tools-list' %}">Tools</a></li>
        <li class="link"><a href="#">Service</a></li>
        <li class="link"><a href="#">Request Service</a></li>
        <li class="link"><a href="#">Analytics</a></li>
        <li class="link"><a href="#">Invoice</a></li>
        </nav>
     </div>